<mat-toolbar class="bgHeader">
  <ul>
    <a mat-button routerLink="registerTeacher">Register Teacher</a>
  </ul>
  <ul>
    <a mat-button routerLink="registerStudent">Register Student</a>
  </ul>
  <ul>
    <a mat-button routerLink="registerCourse">Register Course</a>
  </ul>
  <ul>
    <a mat-button routerLink="registerMatter">Register Matter</a>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a mat-button routerLink="login">Login</a>
    <a mat-button>Logout</a>
  </ul>
</mat-toolbar>
