<div class="bgCourse">
    <div class="form">
        <mat-card class="card">
          <mat-card-title>Register Courses</mat-card-title>
          <hr> <br><br>
          <!-- para agregarle el titulo a la card -->
          <mat-card-content>
            <div class="container">
              <mat-form-field>
                <!-- item de un formulario -->
                <input
                  [(ngModel)]="regisD.name"
                  matInput
                  placeholder="Name Courses"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <!-- item de un formulario -->
                <input
                  [(ngModel)]="regisD.na"
                  matInput
                  placeholder="Number Student"
                  required
                />
              </mat-form-field>
              <!-- item de un formulario -->
              <mat-form-field>
                <input
                  [(ngModel)]="regisD.teacher"
                  matInput
                  placeholder="Professor in Charge "
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <!-- item de un formulario -->
                <input
                  [(ngModel)]="regisD.jornada"
                  matInput
                  placeholder="Working Day"
                  required
                />
              </mat-form-field>
              <mat-form-field>
                <!-- item de un formulario -->
                <input
                  [(ngModel)]="regisD.password"
                  matInput
                  placeholder="School"
                  required
                />
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              (click)="registerCourses()"
              class="button colorButton"
              mat-raised-button
            >
              Register Courses
            </button>
            <br /><br />
          </mat-card-actions>
        </mat-card>
      </div> 
</div>
